.form {
    font-family: "JetBrains Mono", sans-serif;

    &__lable {
        display: flex;
        flex-direction: column;
        
        &-text {
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            color: var(--light-transparent-color);
            
            &--login{
                color: var(--light-color);
                font-weight: 700;
            }
        }  
    }
    &__input,
    &__textarea {
        width: 100%;
        margin-top: 8px;
        display: block;
        color: var(--light-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 22hp;
        border-bottom: 1px solid var(--light-color);
        height: 33px;

        &-password {
            position: relative;
        }
        
        &--login{
            padding: 12px 20px;
            border-radius: 4px;
            height: auto;
            background: var(--dark-color);
            border: 1px solid var(--light-color);
        }

        &:focus-visible {
            border-color: var(--primary-color);
        }
    }

    &__textarea {
       height: 84px; 
       resize: none;
    }
}
