.text-regular {
    font-family: "JetBrain Mono", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.text-medium {
    font-family: "JetBrain Mono", serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.text-light-transparent {
    color: var(--light-transparent-color);
}