.profile-page {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }

    &__body {
        display: grid;
        grid-gap: 64px;
        grid-template-columns: 1fr 350px;
        padding: 24px;
        overflow: hidden;
    }
}

.to-setting-button {
    width: 190px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
}

.to-setting-icon {
    width: 16px;
    height: 16px;
    color: var((--dark-color));
}

.subscribers-wrapper {
    display: flex;
    gap: 6px;
}

.subscriber-avatar-button__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.to-subscribers-search {
    width: 36px;
    height: 36px;
    position: relative;

    &__icon {
        position: relative;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        background: var(--light-color);

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 8px;
            background: var(--dark-color);
            top: 50%;
            left: 50%;
        }
        &::before {
            transform: translateX(-50%) translateY(-50%);
        }
        &::after {
            transform: translateX(-50%) translateY(-50%) rotate(90deg);
        }
    }
}

.stack-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}